<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/loginStyles.css}" />
</head>
<body>

<!-- Header -->
<header>
    <div class="logo">
        <a th:href="@{/employee/}"><img th:src="@{/images/logo.png}" alt="Company Logo"></a>
        <h1>Sri Srinivasa Industries</h1>
    </div>
</header>
		
<!-- Login Container -->
<div class="login-container">
    <div class="login-box">
    
        <h2>Reset Password Page</h2>
        <span style="color: red;" th:text="${email_doesnot_exist}"></span>
        <form th:action="@{/employee/user/forgotPassword}" method="post">
            <div class="input-group">
                <label for="username">Enter Email</label>
                <input type="text" id="username" name="username" required aria-label="Enter the Registered Email">
            </div>
            
            <div class="button-group">
                <button type="submit" class="btn-login">Get OTP</button>
            </div>
            <span style="color: red;">*note:Takes Sometime while Sending Mail</span>
            
        </form>
    </div>
</div>

</body>
</html>
