<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/loginStyles.css}" />
</head>
<body>

<!-- Header -->
<header>
    <div class="logo">
        <a th:href="@{/employee/}"><img th:src="@{/images/logo.png}" alt="Company Logo"></a>
        <h1>Sri Srinivasa Industries</h1>
    </div>
</header>
		
<!-- Login Container -->
<div class="login-container">
    <div class="login-box">
    
        <h2>Reset Password Page</h2>
        <span style="color: red;" th:text="${email_doesnot_exist}"></span>
        <form th:action="@{/employee/user/updateForgotPassword}" method="post">
            <div class="input-group">
                <label for="enteredOTP">Enter OTP</label>
                <input type="text" id="enteredOTP" name="enteredOTP" required aria-label="Enter the OTP send to Email">
            </div>
            <input type="hidden" name="SentOTP" th:value="${SentOTP}">
            <input type="hidden" name="username" th:value="${username}">
            <div class="button-group">
                <button type="submit" class="btn-login">Get OTP</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
