<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layouts/default"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dashboard</title>
	 <link rel="stylesheet" type="text/css" media="all"
     href="/css/index.css" th:href="@{/css/Dashboard.css}" />  
     <style>
      .card {
            background: #34495e;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            padding: 20px;
            flex: 1;
            min-width: 250px;
             color: white;
        }
     </style>
</head>
<body>     
<div th:replace="header"></div>


 	<section id="overview" class="section"><br><br>
                <h2 style="text-align:center;color:#16a085">Employee dashboard</h2><br><br>
                <div class="card-container">
                    <div class="card">
                    	<h3>Employees List</h3><br>
                        <p>Full Employees list</p><br>
                        <a th:href="@{/employee/hr/EmployeeList}" class="button-link" >View Details</a>
                    </div>
                    <div class="card">
                    	<form th:action="@{/employee/hr/deleteEmp}" method="get">
                    		<h2 th:text="${Emp_Deleted}" style="color:red"></h2>
	                        <h3>Delete Employee</h3><br>
	                        <p>Enter the email</p>
	                        <input type="text" name="email">
	                        
	                        <button >Delete</button>
                        </form>
                    </div>
                    <div class="card">
                        <h3>Register Employee</h3>
                   		<h2 th:text="${Employee_Added}" style="color:Green"></h2><br>
                        <p>Entering the new Employee Records into database</p>
                        <a th:href="@{/employee/hr/register}" class="button-link" >Register</a>
                    </div>
                     
                </div>
                </section>
                </body>
</html>